.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--bodyfill-primary-blue-30);
  backdrop-filter: blur(50px);
  width: 100%;
  box-sizing: border-box;
}


.iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 999px;
  background: var(--bodytext-warning-red);
  width: 40px;
  height: 40px;

  .icon {
    width: 15px;
    height: 16px;
  }
}


.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  height: 100%;
  min-width: 0;
  min-height: 0;
  flex: 1 0 0;
}

.hr {
  width: 100%;
  border: .2px solid var(--bodyfill-dark-primary-blue);
}

.numberContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  .number {
    font-family: var(--barlow);
    font-size: 25px;
    font-weight: 700;
    color: var(--bodytext-off-white);
  }

  .pending {
    font-family: var(--poppins);
    font-size: 10px;
    color: var(--bodytext-off-white);
    text-align: center;
    white-space: pre-wrap;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(244, 244, 244, 1);
}

.trendInfo {
  display: flex;
  align-items: center;

  .arrowIcon {
    width: 12px;
    height: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 8px;
    }
  }

  .trendText {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 8px;

    .trendPercent {
      font-family: var(--poppins);
      font-size: 10px;
      font-weight: 700;
      color: var(--bodytext-warning-red);
    }

    .trendLabel {
      font-family: var(--poppins);
      font-size: 10px;
      font-weight: 400;
      color: var(--bodytext-off-white);
    }
  }

}