.fetchedPlanCard {
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    background-image:
        linear-gradient(var(--bodyfill-black-2),
            var(--bodyfill-black-2)),
        url('/backgroundImage/choosePlan.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.fetchedPlanCard:hover {
    transform: scale(1.01);
}

.mainSection {
    max-height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconContainer {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0 0 10px var(--bodyfill-black);
}

.sessionBased .iconContainer {
    background-color: var(--primary-green);
}

.periodBased .iconContainer {
    background-color: var(--pure-white);
}


.periodIcon {
    filter: brightness(0);
}

.sessionIcon {
    filter: brightness(0);
}

.planContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.membershipName {
    color: var(--bodytext-pure-white);
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
}

.sessionBased .planType {
    color: var(--primary-green);
}

.periodBased .planType {
    color: var(--primary-blue);
}

.planType {
    font-size: 10px;
    font-weight: 500;
}

.planDetails {
    color: var(--bodytext-pure-white);
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
}

.value {
    font-size: 7px;
    font-weight: 500;
    color: var(--bodytext-pure-white);
}

.label {
    font-size: 6px;
    font-weight: 300;
    color: var(--bodytext-pure-white);
}

.detailDot {
    font-size: 10px;
    color: var(--primary-green);
    font-weight: 900;
}

.periodBased .detailDot {
    color: var(--primary-blue);
}

.footer {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stats {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--bodytext-pure-white);
    font-size: 9px;
    font-weight: 500;
}

.statItem {
    font-size: 9px;
}

.statValue {
    font-size: 9px;
    color: var(--primary-green);
    font-weight: 600;
}

.separator {
    font-size: 12px;
    color: var(--pure-white);
    font-weight: 300;
}

.secondaryViewButton {
    border: 2px solid var(--pure-white) !important;
    border-radius: var(--border-radius) !important;
    padding: 6px 18px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    min-height: 38px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}