.page {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}

.overlay {
    /* background-color: #063232cc; */
    width: 1080px;
    min-height: 624px;
    display: flex;
    padding: 30px 80px;
    gap: 30px;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.leftText {
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 80px;
}

.leftText h1 {
    font: var(--fonts-poppins-semibold);
    font-size: 25px;
    /* font-style: normal; */
    /* font-weight: 600; */
    line-height: normal;
    color: var(--bodytext-primary-green);
}

.leftText p {
    font: var(--fonts-poppins);
    font-size: 20px;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: normal;
    color: var(--bodytext-pure-white);
}

.keyCardList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    overflow-y: scroll;
}

.verticalDivider {
    border-color: var(--primary-blue);
}


.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 10px;
    align-self: stretch;
}

.rightText {
    display: flex;
    width: 400px;

    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 80px;
}

@media screen and (max-width : 420px) {
    .main {
        border-radius: 10px;
    }

    .overlay {
        flex-direction: column;
        width: 100%;
        padding: 10px;

    }

    .left {
        width: 100%;
        display: none;
    }

    .rightText {
        width: 100%;
        padding: 0px;
    }

    .verticalDivider {
        display: none;
    }
}