.planCard {
  overflow: hidden;
  border-radius: 1.875rem;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
}

.overlay {
  display: flex;
  width: 23rem;
  padding: 3.125rem;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  flex-shrink: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  color: var(--bodyfill-dark-green);
}

.header>h1 {
  font-family: var(--urbanist);
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header>p {
  font-family: var(--poppins);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.planPriceBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.planPriceBlock h1 {
  text-align: center;
  font-family: var(--urbanist);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.planPriceBlock p {
  font-family: var(--poppins);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dividerBlock {
  width: 100%;
  position: relative;
}

.dividerBlock hr {
  width: 100%;
  border-color: var(--bodyfill-grey);
}

.dividerOverlay {
  background-color: var(--bodyfill-grey);
  height: 7px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  transform: translateY(-50%);
}

.description {
  font-family: var(--poppins);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--bodyfill-dark-green);
}

@media screen and (max-width: 426px) {
  .planCard {
    width: fit-content;
  }

  .overlay {
    display: flex;
    width: 12.5rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.625rem;
  }

  .header h1 {
    font-family: var(--urbanist);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .planPriceBlock h1 {
    text-align: center;
    font-family: var(--urbanist);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .planPriceBlock p {
    text-align: center;
    font-family: var(--poppins);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .description {
    font-family: var(--poppins);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}