body:has(.container) {
    overflow: hidden;
}

.container {
    position: fixed;
    inset: 0;
    z-index: var(--popup-layer);
    min-height: 100dvh;
    background-color: var(--transparent-overlay-black-75);
    padding: 16px 8px;
    padding-bottom: 0;
    display: flex;
    align-items: flex-end;
}

.container .modal {
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    padding: 20px 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--bodyfill-transparent-overlay-primary-blue-30);
}

.progressBar {
    width: 100%;
    margin-block: 8px;
}

.FAQ {
    color: var(--bodytext-pure-white);
}

.FAQ>h1 {
    font-size: 20px;
    color: var(--headings-pure-white);
}