.page {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    color: var(--bodytext-off-white);
}

.main {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

.overlay {
    background-color: var(--dark-green-50);
    width: 78vw;
    height: 624px;
    display: flex;
    padding: 30px 4.17vw;
    gap: 30px;
    align-items: center;
    position: relative;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 50%;
    align-items: center;
    background-image: none;
}

.header h1 {
    font: var(--fonts-barlow);
    font-size: 30px;
}

.header h2 {
    font-family: var(--poppins);
    font-size: 16px;
    /* converted from 16px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.offer h3 {
    font-family: var(--poppins);
    font-size: 16px;
    /* converted from 16px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.featureList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.cta {
    display: flex;
    padding: 10px 2px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.mainImage {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 740px;
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .image {
        display: none;
    }

    .content {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .image {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    .header h2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}