.card{
    display: flex;
    min-width: 250px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border: 2px solid var(--icons-primary-blue-dark);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}
@media screen and (max-width: 426px) {
    .card{
        min-width: 100px;
        border-radius: 8px;
    }

    .img{
        width: 100%;
        height: 100%;

    }
}