.quickInfo {
  display: flex;
  width: 100%;
  max-height: 650px;
  gap: 10px;
  justify-content: space-between;
}

.quickInfo .lockBox {
  background: var(--transparent-overlay-pure-white-10);
  backdrop-filter: blur(50px);

  border: 2px dashed var(--gray);
  width: 100%;
  height: 122px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inforBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72px;
  background: var(--transparent-overlay-pure-white-10);
  border: 2px dashed var(--gray);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  margin: 10px 0;
}