.arrows {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.btn , .inactive{
  display: flex;
  width: 50px;
  height: 50px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: inherit;
  transition: all 0.2s ease-in-out;
}

.btn:active{
  background-color: green;
}

.btn{
  border: 1px solid var(--icons-pure-white);
}

.inactive{
  border: 1px solid var(--transparent-overlay-pure-white-30, rgba(255, 255, 255, 0.30));
}


