.container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%), url('/backgroundImage/screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

.mainArea {
    background-color: rgba(6, 52, 52, 0.4);
    padding-top: 40px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    gap: 20px;
    opacity: 1;
}

.blurWrapper {
    position: relative;

    .blurBackground {
        position: absolute;
        inset: 0;
        backdrop-filter: blur(50px);
        background: rgba(255, 255, 255, 0.1);
        z-index: 0;
        border-radius: 15px;
    }

    .content {
        position: relative;
        z-index: 1;
    }
}