.inputWrapper {
  position: relative;
  border-radius: 8px;
  padding: 4px;
  background: var(--bodyfill-dark-primary-blue);
  border: 1.5px solid var(--bodyfill-dark-primary-blue);
  cursor: pointer;

  label {
    left: 6px;
    top: -15px;
    position: absolute;
    border-radius: 4px;
    border-width: 1.5px;
    padding: 2px 4px;
    border: 1.5px solid var(--bodyfill-dark-primary-blue);
    background: var(--bodyfill-dark-primary-blue);
    font: var(--fonts-poppins);
    font-size: var(--input-font-size);
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: var(--bodytext-primary-blue);
  }

  .input {
    display: flex;
    gap: 10px;
    background: var(--bodyfill-dark-primary-blue);
    padding: 4px;
    border-radius: 8px;
    border: 1.5px solid var(--bodyfill-dark-primary-blue);

    p {
      font: var(--fonts-poppins);
      font-size: var(--input-font-size);
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0%;
      text-align: center;
      margin-right: auto;
    }

    .devider {
      width: 1px;
      height: 21px;
      background-color: var(--bodytext-off-white);
      ;
    }

    img {
      transition: all .3s;

      &.rotate {
        rotate: 180deg;
      }
    }
  }

  &.active {
    background-color: inherit;
    border-color: var(--border-primary-green);

    label {
      border-color: var(--border-primary-green);
    }
  }

  &.error {
    background-color: inherit;
    border-color: var(--bodytext-warning-red);

    label {
      border-color: var(--bodytext-warning-red);
    }
  }

}

.dropdown {
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;

  max-height: 50vh;
  border-radius: 4px;
  padding: 5px;
  padding-right: 10px;
  background-color: var(--bodyfill-primary-blue-50);
  overflow: auto;
  scrollbar-color: var(--bodytext-primary-blue) transparent;
  scrollbar-width: thin;
  cursor: auto;

  p {
    border-radius: 4px;
    padding: 10px 20px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: var(--input-font-size);
    margin-bottom: 4px;
    cursor: pointer;

    background-color: var(--bodyfill-dark-primary-blue);

  }

}