.offeringsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-height: 650px;
  border-radius: 15px;
  padding: 10px 8px 0 8px;
  gap: 15px;
  background-color: var(--primary-blue-30);
  overflow-y: auto;
}

.planChart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

.masterComponent {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 60px;
  gap: 2px;
}

.particularColumn {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 5px 0;
  gap: 10px;
}

.offersHeading {
  font-weight: 700;
  justify-content: center;
  width: 100%;
  height: fit-content;
  opacity: 75%;
  font-family: var(--fonts-poppins);
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  color: var(--off-white);
}

.item {
  font-weight: 400;
  width: 100%;
  height: fit-content;
  opacity: 75%;
  font-family: var(--fonts-poppins);
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  color: var(--off-white);
}

.itemList {
  font-weight: 400;
  width: 100%;
  height: fit-content;
  opacity: 75%;
  font-family: var(--fonts-poppins);
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--off-white);
  padding-left: 5px;
  padding-right: 5px;
}

.line {
  width: 0;
  height: 100%;
  border-width: 1px;
  display: flex;
  align-items: center;
  color: var(--primary-blue-50);
}

.divider {
  display: flex;
  flex-direction: column;
  width: 4px;
  height: 100%;
  padding: 20px 2px 0 2px;
  gap: 10px;
}

.tickIcon {
  color: var(--pure-white);
  width: 12px;
}

.activeColumn {
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  gap: 10px;
  background: var(--primary-green-50);
  border: 1.5px solid var(--primary-green);
}