.ratingMeter{
    display: flex;
    max-height: 650px;
    padding: 15px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    /* align-self: stretch; */
    border-radius: 12px;
    background: var(--transparent-overlay-primary-blue-30);
    backdrop-filter: blur(25px);
    font-family: var(--poppins);
    color: var(--bodytext-pure-white);
    width: 470px;
}

.count{
    width: 75%;
}

.ratingMeter > p{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.verticalDivider{
    height: 60%;
    border-color: var(--transparent-overlay-off-white-30);
}

.individualMeter{
    display: flex;
    height: 22px;
    width: 450px;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rating{
    display: flex;
    align-items: center;
    gap: 4px;
}
.rating p {
    width: 10px;
}

@media screen and (max-width: 426px){

    .individualMeter{
        width: 100%;
    }
    .ratingMeter{
        align-self: none;
        width: 100%;
    }
}