.container {
    display: flex;
    flex-direction: row;
    width: 100%;

    height: 109px;
    max-height: 650px;

    padding-left: 10px;
    padding-right: 10px;

    gap: 8px;

    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px);
}