.popUp {
    display: flex;
    width: 340px;
    padding: 30px 8px 20px 8px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    backdrop-filter: blur(25px);
    border-radius: var(--border-radius-large);
    background-color: var(--transparent-overlay-primary-blue-30);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    opacity: 0.7;
}

.title h1 {
    font-size: 25px;
    font: var(--fonts-barlow);
    color: var(--bodytext-pure-white);
}

.container {
    display: flex;
    height: fit-content;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.description {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    color: var(--bodytext-off-white);
}

.description h4 {
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.description p {
    font-family: var(--poppins);
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.divider {
    height: 1px;
    stroke-width: 1.5px;
    width: 100%;

    color: var(--transparent-overlay-primary-blue-50);
}

.quantityInfo {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.selectedPlan {
    display: flex;
    height: 35px;
    /* padding: 10px 0px; */
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--body-text-very-light-gray);
    font-family: var(--poppins);
}

.selectedPlan p {
    font-family: var(--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.plan {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
}

.plan>div {
    display: flex;
    width: 12px;
    height: 12px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.coupon {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    align-items: center;
    align-self: stretch;
}

.coupon>p {
    display: flex;
    align-items: center;
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    color: var(--bodytext-off-white);
    cursor: pointer;
}

.coupon>div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.coupon>div>div>div>input {
    padding: 5px 10px;
}

.coupon>img {
    width: 24px;
    height: 24px;
}

.priceBreakDown {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.priceBreakDown div {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--bodytext-pure-white);
}

.priceBreakDown div p {
    font-family: var(--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.priceBreakDown div span {
    font-family: var(--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.subTotal {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--bodytext-pure-white);
    cursor: pointer;
    transition: all 0.2s ease;
}

.subTotal:hover {
    opacity: 0.8;
}

.subTotalRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subTotalRight {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.summaryBreakdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 0px;
    gap: 6px;

    margin-left: 10px;
    padding-left: 15px;
}

.breakdownItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--bodytext-off-white);
    font-family: var(--poppins);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.breakdownItem span {
    font-weight: 600;
    color: var(--bodytext-pure-white);
}

.discount span {
    color: var(--bodytext-primary-green);

}

.gst {
    display: flex;
    max-height: 565px;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: var(--bodytext-off-white);
}


.gst p {
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font: var(--fonts-barlow);
    color: var(--bodytext-off-white);
}

.total h4 {

    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

}

.total h3 {
    color: var(--bodytext-primary-green);
}

.terms {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.terms>p {
    font-family: var(--poppins);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--bodytext-off-white);
}

.openGstText {
    color: var(--primary-green);
}

.gstInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.gstInput>div {
    width: 100%;
}

.gstInput>div>div>input {
    padding: 3px 10px;
}

.gstInputBox {
    display: flex;
    gap: 5px;
    align-items: center;
}

.gstInputBox>div {
    display: flex;
    flex-direction: column;
}

.gstInputBox>div>div>input {
    padding: 3px 10px;
}

.gstInputBox button {
    height: fit-content;
}


.submit button {
    width: 100%;
}

.buttonsDiv {
    width: 100%;
}

.checkBox {
    width: 18px;
    height: 18px;

    cursor: pointer;
    margin-right: 8px;
    vertical-align: middle;

    accent-color: var(--primary-green);

    transition: all 0.2s ease;
}