body:has(.container) {
  overflow: hidden;
}

.container {
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  margin: 0;
  padding: 16px 8px;
  padding-bottom: 0;
  background-color: var(--transparent-overlay-black-75);
  z-index: var(--popup-layer);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modalWrapper {
  width: 100%;
  max-width: 392px;
  max-height: 75vh;
  overflow: auto;
  display: flex;
}

:where(.modal) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  padding: 20px;
  padding-bottom: 100px;
  background: var(--transparent-overlay-primary-blue-30);
  backdrop-filter: blur(25px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modalHeading {
  font-family: var(--barlow);
  color: var(--pure-white);
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.divider {
  width: 90%;
  border-color: var(--transparent-overlay-primary-blue-50);
}

.modalMessage {
  color: var(--bodytext-off-white);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  strong,
  b {
    font-weight: 600;
  }
}