.container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  width: 100%;
}

.chartTitle {
  position: relative;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: subgrid;
  margin-top: 12px;

  .capacity,
  .peakRush p {
    font: var(--fonts-poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: var(--bodytext-off-white);
  }


  .capacity {
    position: absolute;
    top: -14px;
  }

  .peakRush {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 2;
    gap: 4px;

    hr {
      flex: 1;
      border-color: var(--bodytext-off-white);
      border-style: dashed;
    }
  }
}

.chartRow {
  grid-column: 1 / 3;
  width: 100%;
  display: grid;
  grid-template-columns: subgrid;
  gap: 8px;
  align-items: end;
}

.capacityCol {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font: var(--fonts-poppins);

  >* {
    white-space: nowrap;
    font-size: 9px;
    transform: translateY(-50%);
  }
}

.barsWrapper {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 4px;
  width: 100%;

  .barsRow {
    grid-column: 1 / 14;
    display: grid;
    grid-template-columns: subgrid;
    gap: 4px;
    align-items: end;

    .bar {
      border-radius: 4px 4px 0 0;
      min-width: 6px;
    }
  }


  .timeLabels {
    grid-column: 1 / 14;
    display: grid;
    grid-template-columns: subgrid;
    justify-items: center;

    font-family: var(--fonts-poppins);
    font-size: 7px;
    color: var(--bodytext-off-white);

    >* {
      width: 100%;
      font-size: 7px;
      text-align: center;
      transform: translateX(-50%);
    }
  }
}