.rushHourContainer {
  backdrop-filter: blur(25px);
  background: var(--bodyfill-primary-blue-30);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
}

.rushHourTitle {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;

  .iconHolderRush {
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-green-50);
  }

  .rushHourTitleText {
    font: var(--fonts-poppins);
    font-size: 16px;
    font-weight: 700;
    color: var(--bodytext-off-white);
  }

  .toggleButton {
    border-radius: 4px;
    width: 42px;
    display: flex;
    align-items: center;
    padding: 2px;
    background: var(--primary-green-30);
    cursor: pointer;
    margin-left: auto;
  }

  .toggleButtonInner {
    background: var(--primary-blue-white-1);
    border-radius: 4px;
    padding: 3px;

    font-family: var(--fonts-poppins);
    font-size: 8px;
    font-weight: 700;
    color: var(--bodyfill-dark-green-90);
    text-align: center;
  }
}

.rushTrendInfo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  font: var(--fonts-poppins);

  .rushTrendRed {
    background: var(--warning-red-10);
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
    height: 20px;
    padding: 2px 4px;
  }

  .rushTrendHour {
    background: var(--warning-red-10);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5px 2px;

    font: var(--fonts-poppins);
    font-size: 12px;
    font-weight: 600;
    color: var(--bodytext-off-white);
    text-align: center;
  }


  .rushTrendHourTo {
    font-size: 8px;
    font-weight: 500;
    color: var(--bodytext-off-white);
    text-align: center;
  }

  .rushTrendText {
    font-size: 10px;
    font-weight: 500;
    color: var(--bodytext-off-white);
  }

  .rushTrendTextSmall {
    font-size: 8px;
    color: var(--bodytext-off-white);
  }
}

.hr {
  width: 100%;
  border-top: 0.2px solid var(--bodyfill-off-white);
}