.heading {
  text-align: center;
  color: var(--bodytext-pure-white);

  h2 {
    font: var(--fonts-barlow);
    font-size: 40px;
    margin-bottom: 8px;
  }

  p {
    font: var(--fonts-poppins);
    font-size: 14px;
    /* font-weight: 400; */
    margin-bottom: 8px;
  }

  hr {
    width: 100%;
    border: 0.2px solid #dddddd30;
  }
}