.navContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 50px;
  background-color: var(--Body-Fill-Primary-Blue-Black---4, #2f5b6c);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: var(--nav-layer);
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  transition: transform 0.2s ease;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 25px;
  height: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--Icons-Primary-Green, #b8fe22);
}

.qrWrapper {
  position: relative;
  top: -20px;
  width: 65px;
  height: 65px;
  border-radius: 999px;
  gap: 10px;
  opacity: 1;
  padding: 4px;
  background-color: var(--Body-Fill-Primary-Blue-Black---4, #2f5b6c);
}

.qrButton {
  background-color: var(--Icons-Dark-Gray, #063434);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}