.container {
    background-image: linear-gradient(to bottom, var(--transparent-overlay-primary-blue-30) 0%, var(--transparent-overlay-primary-blue-30) 100%), url('/dashboard/screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    backdrop-filter: blur(10px);
    overflow: hidden;
    height: 100vh;
    gap: 15px;
    backdrop-filter: blur(25px);
    border-radius: var(--border-radius-large);
}

.containerWrapper {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.widgetContainer {
    gap: 10px;
    opacity: 1;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    width: 100%;
    overflow: scroll;
}

.widget {
    width: 140px !important;
    border-radius: var(--border-radius);
    gap: 5px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 15px;
    background-color: var(--bodyfill-primary-blue-50);
    color: var(--bodytext-pure-white);
}

.widgetTitle {
    font: var(--fonts-poppins-semibold);
    /* font-weight: 600; */
    /* font-style: SemiBold; */
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.widgetPriceWrapper {
    display: flex;
    align-items: middle;
}

.widgetPrice {
    font: var(--fonts-barlow);
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--bodytext-primary-green);
    /* color: var(--headings-primary-green-light); */
}

.widgetPrice>span {
    display: flex;
    /* align-items: end; */
}

.inr {
    font-family: var(--pontano);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
}

.widgetDuration {
    font: var(--fonts-poppins-500);
    /* font-weight: 500; */
    font-style: Medium;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
}