.infoCard {
    min-height: 20rem;
    min-width: 20rem;
    border-radius: 1.875rem;
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    overflow: hidden;
    box-sizing: border-box;
}

.infoCard h1 {
    font-family: var(--urbanist);
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.infoCard h3 {
    font: var(--fonts-barlow);
    font-size: 1.875rem;
}

.infoCard p {
    font-family: var(--poppins);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media screen and (max-width: 426px) {
    .infoCard {
        display: flex;
        min-width: 200px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        min-height: 200px;
        border-radius: 10px;
    }

    .infoCard h1 {
        font-family: var(--urbanist);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .infoCard h3 {
        font: var(--fonts-barlow);
        font-size: 16px;
    }

    .infoCard p {
        font-family: var(--poppins);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}