.tourContainer {
  display: flex;
  width: 83.333vw; 
  padding: 100px 80px 50px 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.tourTitleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 63.75vw;  
}

.tourTitleText h1 {
  font-family: var(--urbanist);
  font-size: 142px;
  font-style: normal;
  font-weight: 700;
  color: var(--transparent-overlay-off-white-30);
}

.tourTitleText p {
  font-family: var(--urbanist);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  color: var(--bodytext-pure-white);
}

.tourTitleText p span {
  color: var(--bodytext-primary-green);
}

.divider {
  border: none;
  height: 1.5px;
  width: 100%;
  background-color: var(--transparent-overlay-primary-blue-50);
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}


.active {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  align-self: stretch;
  border: 1.5px solid var(--transparent-overlay-primary-blue-50);
  border-radius: 20px;
}

.heroDivider {
  border: none;
  height: 1.5px;
  width: 100%;
  background-color: var(--icons-primary-blue-dark);
  margin: 0;
}

.scrollGallery {
  display: flex;
  height: 200px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  overflow-x: scroll;
}
.playButton {
  background-color: green; /* Green background */
  color: white; /* White text */
  font-size: 16px; /* Text size */
  padding: 10px 20px; /* Padding */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.playButton:hover {
  background-color: darkgreen; /* Darker green on hover */
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height of the video container */
}

.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroDivider {
  margin: 20px 0;
}

.scrollGallery {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.hideScrollBar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hideScrollBar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


@media screen and (max-width: 426px) {
  .tourContainer {
    width: 95vw;  /* Changed to vw */
    gap: 10px;
    padding: 10px 80px 50px 80px;
  }

  .tourTitleText h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .tourTitleText p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .active {
    height: 178px;
    border-radius: 6.478px;
  }
  .active .activeImage{
    height: 100%;
    width: 100%;
  }

  .scrollGallery {
    height: 80px;
    gap: 8px;
  }
}