.ratingBar{
    display: flex;
    /* width: 340px; */
    width: 100%;
    height: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: var(--bodytext-pure-white);
    overflow: hidden;
    border-radius: 20px;
}

.inner{
    display: flex;
    min-width: 10px;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
}

@media screen and (max-width: 426px) {
    .ratingBar{
        width: 100%;
    }
}