.card {
  border-radius: 16px;
}

.card > div {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 61.71%,
    rgba(0, 0, 0, 0.9) 82.86%
  );
  display: flex;
  height: 480px;
  width: 365px;
  padding: 8px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  border-radius: 16px;
}

.cardText {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.name {
  font-family: var(--barlow);
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  color: var(--bodytext-pure-white);
}

.post {
  font-family: var(--poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--bodytext-primary-green);
}

.desc {
  font-family: var(--poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--bodytext-off-white);
}

@media screen and (max-width: 426px) {
  .card > div {
    display: flex;
    width: 200px;
    height: 258.621px;
    padding: 4.138px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10.345px;
    border-radius: 10.345px;
  }

  .name {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .post {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .desc {
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
