.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    overflow: hidden;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Opera) */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.container {
    scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer & Edge */
.container {
    -ms-overflow-style: none;
}
