.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heading {
  color: var(--bodytext-primary-green);
}

.buttons {
  width: 100%;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}