.enquireButton {
    display: flex;
    padding: 0.625rem 0.625rem 0.625rem 1.25rem;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    background-color: var(--bodyfill-dark-green);
    border-radius: 3.125rem;
    cursor: pointer;
}

.enquireButton p {
    font-family: var(--poppins);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 1.75rem */
    letter-spacing: -0.025rem;
    color: var(--bodytext-primary-green);
}

.enquireButton>div {
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: var(--bodyfill-primary-green);
    border-radius: 3.125rem;
}

.enquireButton>div img {
    width: 1rem !important;
    height: 1rem !important;
    /* flex-shrink: 0 !important; */
    min-width: 1rem !important;
    min-height: 1rem !important;
}

@media screen and (max-width : 520px) {
    .enquireButton {
        display: flex;
        padding: 0.25rem 0.25rem 0.25rem 1.25rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        width: 10rem;
        box-sizing: border-box;
    }

    .enquireButton p {
        font-family: var(--poppins);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 1.225rem */
        letter-spacing: -0.0175rem;
    }

    .enquireButton div {
        display: flex;
        width: 2rem;
        height: 2rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        box-sizing: border-box;
    }

    .enquireButton div img {
        width: 1.25rem;
        height: 1.25rem;
    }
}