.form {
  margin-top: 20px;
  padding: 20px 8px;
  padding-bottom: 90px;
  background-color: var(--bodyfill-primary-blue-30);
  border-radius: 15px;

  >* {
    margin-bottom: 12px;
  }

  .sectionBreak {
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;

    h2 {
      color: var(--bodytext-off-white);
      font-family: var(--poppins);
      font-size: 16px;
      font-weight: 500;
    }

    hr {
      width: 100%;
      border: .2px solid var(--off-white);
    }

    p {
      color: var(--bodytext-off-white);
      font-family: var(--poppins);
      font-size: 10px;
      font-weight: 400;
    }
  }

  .refrelSection {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    &>:first-child {
      flex: 1;
    }

    button {
      margin-top: 24px;
    }
  }

  .tncSection {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    p {
      color: white;
      font-family: var(--poppins);
      font-size: 12px;
    }
  }
}