.objectiveSection {
  overflow: hidden;
  border-radius: 40px;
}

.overlay {
  display: flex;
  width: 83.333vw;

  padding: 60px 10px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--background-blur-green-2);
}

.objectiveSectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -200px;
  position: relative;
  width: 918px;
}

.objectiveSectionTitle h1 {
  font-family: var(--urbanist);
  font-size: 142px;
  font-style: normal;
  font-weight: 700;
  color: var(--transparent-overlay-off-white-30);
}

.objectiveSectionTitle>p {
  font-family: var(--urbanist);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  color: var(--bodytext-pure-white);
}

.objectiveSectionTitle>p>span {
  color: var(--primary-green);
  font: inherit;
}

.divider {
  stroke-width: 1.5px;
  height: 0px;
  width: 100%;
  border-color: var(--transparent-overlay-primary-blue-50);
}

.objectiveContainer {
  display: flex;
  gap: 25px;
  width: 100%;
  flex-grow: 1;
}

.objectiveMetadata {
  display: flex;
  width: 486px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.verticalDivider {
  stroke-width: 1.5px;
  border-color: var(--transparent-overlay-primary-blue-50);
}

.objectiveListContainer {
  display: flex;
  height: 438px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--bodytext-pure-white);
  font-family: var(--poppins);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.objectiveList {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.objectiveList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 920px) {
  .objectiveSectionTitle h1 {
    font-family: var(--urbanist);
    font-size: 16vw;
    font-style: normal;
    font-weight: 700;
    color: var(--transparent-overlay-off-white-30);
  }

  .objectiveSectionTitle>p {
    font-family: var(--urbanist);
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    color: var(--bodytext-pure-white);
  }

  .objectiveSectionTitle>p>span {
    color: var(--primary-green);
    font: inherit;
  }

  .objectiveSection {
    width: 90%;
    border-radius: 1.875rem;
  }

  .overlay {
    height: fit-content;
    width: 100%;
    padding: 25px 0px;
    gap: 10px;
  }

  .objectiveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 90%;
  }

  .objectiveMetadata {
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .objectiveListContainer {
    width: 95%;
  }

  .objectiveList {
    padding: 0;
    width: 90%;
    overflow-x: hidden;
    flex-direction: column;
    gap: 10px;
  }
}