.secondaryButton {
    --color: var(--off-white);
    --bg-color: var(--primary-blue);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: inherit;

    padding: 8px 18px;
    border-radius: var(--border-radius);
    color: var(--color);
    border: 2px solid var(--bg-color);
    transition: 200ms ease-in-out;
    cursor: pointer;

    font: var(--fonts-poppins-500);
    font-weight: normal;
    font-size: 12px;
    line-height: normal;

    &:hover:not(:disabled) {
        background-color: var(--bg-color);
    }

    &:disabled {
        border-width: 1px;
        color: var(--inactive-color);
    }

    img,
    svg {
        max-width: 16px;
        max-height: 16px;
    }
}

.secondaryButton {
    &.transparent-white {
        --color: var(--pure-white);
        --bg-color: transparent;
    }
}