.container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%), url('/backgroundImage/screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    height: 100vh
}

.mainArea {
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    margin: 16px;
}

.textBox {
    padding-right: 32px;
}

.mainArea span {
    font-family: "Barlow Semi Condensed";
    color: var(--bodytext-pure-white)
}

.title {
    /* font-family: Barlow Semi Condensed;
    font-weight: 700;
    font-style: Italic; */
    /* font: italic 700 1rem "Barlow Semi Condensed"; */
    font: var(--fonts-barlow);
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
}

.subTitle {
    font: var(--fonts-poppins);
    /* font-family: Poppins;
    font-weight: 500; */
    /* font-style: Medium; */
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.hr {
    background-color: none !important;
    height: 0;
    border: 0.2px solid var(--off-white-30);
}

.businessTagline {
    color: var(--bodytext-primary-green) !important;
    font: var(--fonts-barlow);
    font-size: 44px;
}

@keyframes fadeText {

    0%,
    10% {
        opacity: 1;
        transform: translateY(0);
    }

    15%,
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.animate-fadeText {
    animation: fadeText 9s linear infinite;
}