.usageSection {
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  width: 83.333vw;
  padding: 100px 10px 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.usageSectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -200px;
  position: relative;
  width: 918px;
}

.usageSectionTitle h1 {
  font-family: var(--urbanist);
  font-size: 16vw;
  font-style: normal;
  font-weight: 700;
  color: var(--transparent-overlay-off-white-30);
}

.usageSectionTitle>p {
  font-family: var(--urbanist);
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  color: var(--bodytext-pure-white);
}

.usageSectionTitle>p>span {
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-green);
}

.divider {
  stroke-width: 1.5px;
  height: 0px;
  width: 100%;
  border-color: var(--transparent-overlay-primary-blue-50);
}

.usageContainer {
  display: flex;
  gap: 25px;
  width: 100%;
  flex-grow: 1;
}

.usageMetadata {
  display: flex;
  width: 486px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.verticalDivider {
  stroke-width: 1.5px;
  border-color: var(--transparent-overlay-primary-blue-50);
}

.usageListContainer {
  display: flex;
  height: 438px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--bodytext-pure-white);

  font-family: var(--poppins);
  /* overflow: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.usageList {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.usageList::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 640px) {
  .usageSection {
    padding: 0 30px;
    width: 90%;
    border-radius: 11px;
  }

  .overlay {
    height: fit-content;
    width: 100%;
    padding: 25px 0px;

    gap: 10px;

  }

  .usageSectionTitle h1 {
    /* font-size: 40px;
    font-style: normal;
    font-weight: 700; */
    line-height: 1.4;
  }

  /* .usageSectionTitle p {
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .usageSectionTitle>p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  } */

  .usageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 90%;
  }

  .usageMetadata {
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .usageListContainer {
    width: 95%;
  }

  .usageList {
    width: 100%;
    overflow-x: hidden;
    /* padding: 0px 8px; */
  }
}