.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bodyfill-black-2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--top-layer);
}

.popup {
  background-color: var(--pure-white);
  padding: 30px 40px;
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  text-align: center;
}

.message {
  font: var(--fonts-poppins);
  font-size: 16px;
  color: var(--off-black);
}

.closeBtn {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  color: var(--pure-white);
  border: none;
  cursor: pointer;
  font: var(--fonts-poppins-semibold);
}

.closeBtn:hover {
  background-color: var(--dark-blue);
}