.customerCard {
  padding: 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  min-width: 20rem;
  border-radius: 1.875rem;
  overflow: hidden;
  box-sizing: border-box;

}

.customerCard h1 {
  font-family: var(--poppins);
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.customerCard p {
  font-family: var(--poppins);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 426px) {
  .customerCard {
    display: flex;
    min-width: 200px;
    max-width: 200px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: 200px;
    border-radius: 10px;
    height: fit-content;
  }

  .customerCard img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .customerCard h1 {
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .customerCard p {
    font-family: var(--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}