.main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px 20px;
  padding-top: 40px;
  border-radius: var(--border-radius-large);
  background-color: var(--bodyfill-transparent-overlay-primary-blue-30);
  backdrop-filter: blur(25px)
}

.main_container .top_container h3 {
  color: var(--bodytext-pure-white);
  font: var(--fonts-barlow);
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

}

.main_container .top_container p {
  color: var(--bodytext-pure-white);
  font: var(--fonts-poppins);
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.main_container .bottom_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main_container .bottom_container .login_ways {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
  border-radius: var(--border-radius);
  border-width: 2px;
  margin-bottom: 10px;
  background-color: var(--bodyfill-dark-primary-blue);
  cursor: pointer;
  border: 0;
}

.main_container .bottom_container .login_ways:hover {
  background-color: var(--bodyfill-dark-primary-blue);
}

.main_container .bottom_container .login_ways p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--bodytext-pure-white);
}