.header {
  width: 100vw;
}

.header>div {
  display: flex;
  padding: 30px 40px 50px 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: linear-gradient(0deg, var(--dark-green) 0%, var(--dark-green-10));
}

.heroSection {
  display: flex;
  height: 540px;
  padding: 20px 80px;
  width: 80vw;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bodytext-pure-white);
  border-radius: 20px;
  background: var(--transparent-overlay-chine-black);
  backdrop-filter: blur(5px);
}

.heroSectionText {
  width: 70vw;
}

.heroSectionTitle {
  color: var(--bodytext-primary-green);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.heroSectionTitle hr {
  height: 0px;
  width: 17vw;
  border-color: var(--transparentoverlay-primary-green-50);
}

.heroSectionTitle h1 {
  font-family: var(--urbanist);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heroSectionDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.heroSectionDescription>p:nth-child(1) {
  font: var(--fonts-barlow);
  font-size: 40px;
  color: var(--bodytext-pure-white);
}

.heroSectionDescription p:nth-child(1) span {
  color: var(--bodytext-primary-green);
}

.heroSectionDescription p:nth-child(2) {
  font-family: var(--poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--transparent-overlay-pure-white-50);
}

@media screen and (max-width: 800px) {
  .header {}

  .header>div {
    padding: 30px 16px;
  }

  .heroSection {
    width: 100%;
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    /* height: 400px; */
  }

  .heroSectionTitle {
    gap: 10px;
  }

  .heroSectionText {
    width: 90%;
  }

  .heroSectionTitle hr {
    width: 31.333px;
    height: 5px;
    max-width: 71.528px;
    border-radius: 20px;
    background-color: var(--transparentoverlay-primary-green-50);
  }

  .heroSectionTitle h1 {
    font-family: var(--urbanist);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .heroSectionDescription>p:nth-child(1) {
    font: var(--fonts-barlow);
    font-size: 20px;
    text-wrap: wrap;
  }

  .heroSectionDescription p:nth-child(2) {
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}