.contact {
  display: flex;
  width: 89.333vw;
  padding: 100px 40px 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: var(--urbanist);
  font-size: 8rem;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  color: var(--transparent-overlay-off-white-30);
}

.title p {
  font-family: var(--urbanist);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  color: var(--bodytext-pure-white);
  text-align: center;
}

.title p span {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  color: var(--bodytext-primary-green);
}

.divider {
  border: none;
  height: 1.5px;
  align-self: stretch;
  background-color: var(--transparent-overlay-primary-blue-50);
  margin: 0;
}

.contactBlock {
  height: 700px;
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: 40px;
  overflow: hidden;
}

.left {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--bodyfill-dark-green-90);
}

.left h1 {
  font-family: var(--urbanist);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--bodytext-pure-white);
}

.left h1 span {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--bodytext-primary-green);
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;

  >* {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.right {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 35px 0px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.moblieLocation {
  display: none;
}

@media screen and (max-width: 800px) {
  .contact {
    width: 95vw;
    gap: 10px;
    height: fit-content;
    padding: 10px 30px;
  }

  .title h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .title p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .title p span {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--bodytext-primary-green);
  }
  
  .contactBlock {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 11.444px;
  }
  
  .contactForm {
    width: 70vw;
  }
  
  .left {
    width: 100vw;
    height: fit-content;
    padding: 0px 0px 18px 0px;
    border-radius: 11.444px;
  }
  
  .left h1 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
  }

  .left h1 span {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--bodytext-primary-green);
  }

  .right {
    display: none;
  }

  .moblieLocation {
    display: block;
    width: 100vw;
    height: 300px;
    overflow: hidden;
  }
}