.socials {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 35px 40px;
    background-color: var(--transparent-overlay-primary-blue-30);
    width: fit-content;
    border-radius: 12px;
    backdrop-filter: blur(25px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;

}

.socials>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.imageFrame {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials>div>p {
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.verticalDivider {
    width: 13px;
    transform: rotate(-90deg);
    flex: 1 0 0;
}