.container {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, .75) 80%,
            rgba(0, 0, 0, .95) 100%),
        url("/dashboard/screen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

.mainArea {
    background-color: var(--bodyfill-dark-green-50);
    height: 100%;
    padding-top: 40px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    opacity: 1;

    >* {
        margin-bottom: 10px;
    }
}

.mainArea .hr {
    border: 2px solid var(--bodyfill-dark-primary-blue);
}