.feature{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.feature div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.feature p {
    font-family: var(--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}